.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #eb1a47;
    border-color: #eb1a47;
}
.loginPage{
    color: white;
    background-color: rgb(37, 51, 65);
    max-width: auto;
    height: 700px;

}