@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

.App {
  background-color: #15202B;
  max-height: auto;
  min-height: 100vh;
  height: auto;
  width: auto;
}

.card-img{
  border-radius: 40%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rcw-messages-container{
  background-color: #282c34;
}

.rcw-conversation-container > .rcw-header {
  background-color: #192734;
}
.rcw-launcher{
  background-color:#1A91DA;
}

.rcw-message > .rcw-response {
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.rcw-message-text p {
  margin: 0;
  color: black;
}
.rcw-response .rcw-message-text {
  background-color: #192734;
  color: white;
  
}
.rcw-client .rcw-message-text {
  background-color: #1A91DA;
  color:white;
}

.burbujita{
  background-color: rgb(32, 60, 85);
  border-radius: 10px;
  padding: 15px;
  color: white;
  max-width: auto;
  max-height: auto;
  display: flex;

}
.burbujaCar{
  background-color: rgb(32, 60, 85);
  border-radius: 10px;
  padding: 15px;
  color: white;
  max-width: auto;
  max-height: auto;
  display: flex;
}
.rcw-timestamp {
  font-size: 0;
  margin-top: 0px;
}
.logoPeti{
  color:white;
  font-family: 'Sansita Swashed', cursive;
  padding-right: 20px;
}
.navBar{
  background-color: #15202B;
  border-bottom: 1px solid rgb(37, 51, 65);
  object-fit: contain;
}
.searchBar{
    height: 34px;
}

.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}